@media screen and (min-width: 1001px) {
/*
------------------------------------------
Cajas Generales
------------------------------------------
*/
	#CajaGeneral {
		display: flex;
	}
	#CajaEntradas {
		margin: 0 1% 0 0;
		flex: 2;
	}
	#CajaLateral {
		align-self: flex-start;
		top: 0;
		flex: 1;
	}
}
