* {
	margin: 0;
	padding: 0;
}
BODY {
	background-color: black;
}
H1,H2,H3,H4,H5,H6 {

}
H1 {
	color: greenyellow;
	text-align: center;
}
H2 {

}
H3 {
	color: darkorange;
}
P {
	color: aliceblue;
	text-align: center;
}
A {
	color: orange;
}
A:visited {
	color: darkseagreen;
}
TABLE {
	margin: 10px auto;
	vertical-align: middle;
	align-content: left;
	text-align: left;
}
/*
------------------------------------------
Cajas Generales
------------------------------------------
*/
#CajaGeneral {
	padding: 5px;
	margin: 10px auto;
	min-width: 400px;
	max-width: 1200px;
	background-color: greenyellow;
	border: 3px groove orange;
	color: black;
	font-size: 1.2em;
	font-weight: bolder;
	align-content: center;
	align-items: center;
	align-self: center;
	vertical-align: middle;
	text-align: center;
	border-radius: 10px;
	box-shadow: 5px 5px 25px white;
	display: flex;
}
.CajaGeneral P {
	color: black;
}
#CajaEntradas {
	margin: 0 1% 0 0;
	border: 3px solid white;
	border-radius: 6px;
	background-color: orange;
	flex: 2;
}
#CajaLateral {
	border: 3px solid white;
	border-radius: 6%;
	background-color:dodgerblue;
	flex: 1;
}
.barraEstadistica {
	float: right;
	margin: 0;
	padding: 0;
	width: 100px;
	height: 15px;
	border: 2px solid black;
	text-align: left;
	background-color: dimgray;
}
.barraEstadistica IMG {
	padding: 0;
	margin: 0;
	height: 15px;
	text-align: left;
	vertical-align: top;
	border: 0;
}
